# Módulo de entrada e saída de dados (es)

O módulo proverá uma função para leitura da API do BACENe para produção dos gráficos.

In [1]:
# Função para consumo da API do BACEN

import numpy as np
import pandas as pd

def leitor_dados(arquivo: str) -> pd.DataFrame:
    pass

In [2]:
dados = pd.read_csv("https://dados.tce.rs.gov.br/dados/municipal/balancete-despesa/2023.csv")

In [3]:
dados.head(4)

,ANO,MES,COD_MUNICIPIO,NOME_MUNICIPIO,CD_ORGAO,NOME_ORGAO,CD_RECEBIMENTO,CD_ORGAO_ORCAMENTARIO,NOME_ORGAO_ORCAMENTARIO,CD_UNIDADE_ORCAMENTARIA,...,VL_REDUCAO_RECURSO,VL_TRANSFERENCIA,VL_TRANSPOSICAO,VL_REMANEJAMENTO,VL_EMPENHADO,VL_LIQUIDADO,VL_PAGO,VL_LIMITADO,VL_RECOMPOSICAO,VL_PREVISAO_EXECUCAO
0,2023,1,149,PORTO ALEGRE,88399,AGESAN - AGÊNCIA REGULADORA INTERMUNICIPAL DE ...,306703,1,AGESAN-RS,1,...,0.0,0.0,0.0,0.0,1291047.08,99401.81,99401.81,0.0,0.0,0.0
1,2023,1,149,PORTO ALEGRE,88399,AGESAN - AGÊNCIA REGULADORA INTERMUNICIPAL DE ...,306703,1,AGESAN-RS,1,...,0.0,0.0,0.0,0.0,251900.00,30456.87,0.00,0.0,0.0,0.0
2,2023,1,149,PORTO ALEGRE,88399,AGESAN - AGÊNCIA REGULADORA INTERMUNICIPAL DE ...,306703,1,AGESAN-RS,1,...,0.0,0.0,0.0,0.0,0.00,0.00,0.00,0.0,0.0,0.0
3,2023,1,149,PORTO ALEGRE,88399,AGESAN - AGÊNCIA REGULADORA INTERMUNICIPAL DE ...,306703,1,AGESAN-RS,1,...,0.0,0.0,0.0,0.0,6206.47,6206.47,6206.47,0.0,0.0,0.0

In [4]:
type(dados)

pandas.core.frame.DataFrame

In [5]:
dados["ANO"]

0         2023
1         2023
2         2023
3         2023
4         2023
          ...
427623    2023
427624    2023
427625    2023
427626    2023
427627    2023
Name: ANO, Length: 427628, dtype: int64

In [6]:
ANO = dados["ANO"]
ANO.head(4)

0    2023
1    2023
2    2023
3    2023
Name: ANO, dtype: int64

In [7]:
type(ANO)

pandas.core.series.Series

In [8]:
# Função para consumo da API do BACEN

import numpy as np
import pandas as pd

def leitor_dados(arquivo: str) -> pd.DataFrame:
    return pd.read_csv(arquivo)
    pass

In [9]:
url = "https://dados.tce.rs.gov.br/dados/municipal/balancete-despesa/2023.csv"
dados = leitor_dados(url)

In [10]:
dados.dtypes

ANO                              int64
MES                              int64
COD_MUNICIPIO                    int64
NOME_MUNICIPIO                  object
CD_ORGAO                         int64
NOME_ORGAO                      object
CD_RECEBIMENTO                   int64
CD_ORGAO_ORCAMENTARIO            int64
NOME_ORGAO_ORCAMENTARIO         object
CD_UNIDADE_ORCAMENTARIA          int64
NOME_UNIDADE                    object
TP_UNIDADE                      object
CD_FUNCAO                        int64
DS_FUNCAO                       object
CD_SUBFUNCAO                     int64
DS_SUBFUNCAO                    object
CD_PROGRAMA                      int64
DS_PROGRAMA                     object
CD_PROJETO                       int64
NM_PROJETO                      object
CD_ELEMENTO                     object
CD_RECURSO                     float64
NM_RECURSO                     float64
CD_FONTE_RECURSO                 int64
VL_DOTACAO_INICIAL             float64
VL_ATUALIZACAO_MONETARIA       float64
VL_CREDITOS_SUPLEMENTARES      float64
VL_CREDITOS_ESPECIAIS          float64
VL_CREDITOS_EXTRAORDINARIOS    float64
VL_REDUCAO_DOTACAO             float64
VL_SUPLEMENTACAO_RECURSO       float64
VL_REDUCAO_RECURSO             float64
VL_TRANSFERENCIA               float64
VL_TRANSPOSICAO                float64
VL_REMANEJAMENTO               float64
VL_EMPENHADO                   float64
VL_LIQUIDADO                   float64
VL_PAGO                        float64
VL_LIMITADO                    float64
VL_RECOMPOSICAO                float64
VL_PREVISAO_EXECUCAO           float64
dtype: object

In [12]:
dados.to_excel("dadosprojeto8.xlsx", sheet_name = "dados", index = False)

In [13]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 427628 entries, 0 to 427627
Data columns (total 41 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   ANO                          427628 non-null  int64
 1   MES                          427628 non-null  int64
 2   COD_MUNICIPIO                427628 non-null  int64
 3   NOME_MUNICIPIO               427628 non-null  object
 4   CD_ORGAO                     427628 non-null  int64
 5   NOME_ORGAO                   427628 non-null  object
 6   CD_RECEBIMENTO               427628 non-null  int64
 7   CD_ORGAO_ORCAMENTARIO        427628 non-null  int64
 8   NOME_ORGAO_ORCAMENTARIO      427628 non-null  object
 9   CD_UNIDADE_ORCAMENTARIA      427628 non-null  int64
 10  NOME_UNIDADE                 427628 non-null  object
 11  TP_UNIDADE                   427628 non-null  object
 12  CD_FUNCAO                    427628 non-null  int64
 13  DS_FUNCAO                    427628 non-null  object
 14  CD_SUBFUNCAO                 427628 non-null  int64
 15  DS_SUBFUNCAO                 427628 non-null  object
 16  CD_PROGRAMA                  427628 non-null  int64
 17  DS_PROGRAMA                  427628 non-null  object
 18  CD_PROJETO                   427628 non-null  int64
 19  NM_PROJETO                   427628 non-null  object
 20  CD_ELEMENTO                  427628 non-null  object
 21  CD_RECURSO                   0 non-null       float64
 22  NM_RECURSO                   0 non-null       float64
 23  CD_FONTE_RECURSO             427628 non-null  int64
 24  VL_DOTACAO_INICIAL           427628 non-null  float64
 25  VL_ATUALIZACAO_MONETARIA     427628 non-null  float64
 26  VL_CREDITOS_SUPLEMENTARES    427628 non-null  float64
 27  VL_CREDITOS_ESPECIAIS        427628 non-null  float64
 28  VL_CREDITOS_EXTRAORDINARIOS  427628 non-null  float64
 29  VL_REDUCAO_DOTACAO           427628 non-null  float64
 30  VL_SUPLEMENTACAO_RECURSO     427628 non-null  float64
 31  VL_REDUCAO_RECURSO           427628 non-null  float64
 32  VL_TRANSFERENCIA             427628 non-null  float64
 33  VL_TRANSPOSICAO              427628 non-null  float64
 34  VL_REMANEJAMENTO             427628 non-null  float64
 35  VL_EMPENHADO                 427628 non-null  float64
 36  VL_LIQUIDADO                 427628 non-null  float64
 37  VL_PAGO                      427628 non-null  float64
 38  VL_LIMITADO                  427628 non-null  float64
 39  VL_RECOMPOSICAO              427628 non-null  float64
 40  VL_PREVISAO_EXECUCAO         427628 non-null  float64
dtypes: float64(19), int64(12), object(10)
memory usage: 133.8+ MB

In [15]:
NOME_MUNICIPIO = dados["NOME_MUNICIPIO"]
NOME_MUNICIPIO.head()
type(NOME_MUNICIPIO)

pandas.core.series.Series

In [16]:
dados["NOME_MUNICIPIO"].shape

(427628,)

In [18]:
municipio_codigo = dados[["NOME_MUNICIPIO", "COD_MUNICIPIO"]]
municipio_codigo.head()

  NOME_MUNICIPIO  COD_MUNICIPIO
0   PORTO ALEGRE            149
1   PORTO ALEGRE            149
2   PORTO ALEGRE            149
3   PORTO ALEGRE            149
4   PORTO ALEGRE            149